article {
    margin-bottom: 75px
}

#status-content input {
    outline: 0;
    border: 0;
    width: 87%;
    margin-left: 10px;
    transform: translateY(-15px);
}

.input-upText {
    word-break: break-word;

}

.upText {
    font-family: Malgun-Ghotic;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1.38;
    word-break: break-all;
}

.upPicture {
    width: 512px
}